@model KotaeteMVC.Models.ProfileQuestionViewModel

@{
    ViewBag.Title = Model.ProfileUserName;
}

<div class="container" id="page-body">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading" id="profile-header">
                    <div class="row">
                        <div class="user-name">
                            @Model.ProfileUserName
                        </div>
                    </div>
                </div>
                <div class="panel-body" id="profile-body">
                    <div class="row">
                        @if (Model.AvatarUrl != null)
                        {
                            <img class="avatar" src="/@Model.AvatarUrl" alt="@Model.ProfileUserName" />
                        }
                    </div>
                    <div class="row follow-indication">
                        @if (Model.CurrentUserAuthenticated)
                        {
                            if (Model.IsOwnProfile)
                            {
                                <span class="label label-default">That's you</span>
                            }
                            else if (Model.FollowsYou)
                            {
                                <span class="label label-default">Follows you</span>
                            }
                            else
                            {
                                <span class="label label-warning">The bastard isn't following you</span>
                            }
                        }
                    </div>

                    <div class="profile-body">
                        @if (Model.CurrentUserAuthenticated && Model.IsOwnProfile == false) {
                        <div class="row button-row">
                        @using (Html.BeginForm("", "Follow", FormMethod.Post))
                        {
                            @Html.Hidden("UserToFollowName", @Model.ProfileUserName)
                            @Html.Hidden("Action", Model.Following ? "Unfollow" : "Follow")
                            <button type="submit" class="btn btn-lg @if (Model.Following)
                            { @("btn-danger") }
                            else { @("btn-primary") } follow-button">
                                @if (Model.Following)
                                {
                                    @("Unfollow")
                                }
                                else
                                {
                                    @("Follow")
                                }
                            </button>
                        }
                        </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Bio))
                        {
                        <div class="row">
                            <p>@Model.Bio</p>
                        </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Location))
                        {
                        <div class="row">
                            <p>Location: @Model.Location</p>
                        </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Homepage))
                        {
                        <div class="row">
                            <a href="@Model.Homepage" target="_blank">@Model.Homepage</a>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            @if (Model.IsOwnProfile == false)
            {
            <div id = "ask-question" class="panel panel-default">
                <div class="panel-heading">
                    Ask a question!
                </div>
                @using (Html.BeginForm("AskQuestion", "User", FormMethod.Post, new { @class = "panel-body" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <div>
                            @Html.TextAreaFor(model => model.QuestionContent, 5, 50, new { @class = "ask-question-box", @placeholder = "Your question for " + Model.ProfileUserName + " here" })
                            @Html.ValidationMessageFor(model => model.QuestionContent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.ProfileUserName)
                    <div class="form-group pull-left">
                        <div>
                            <input type="submit" value="Ask" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
            }
        </div>
    </div>
</div>
