@using Resources
@model KotaeteMVC.Models.Entities.ApplicationUser

@{
    ViewBag.Title = String.Format(UsersStrings.EditProfilePageTitle, Model.ScreenName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/cropper.min.css")

<div class="container">
    @*<h2>@UsersStrings.EditProfileTitle (@Model.UserName)</h2>

        <div id="header-selector">
            <div id="header-cropper" class="col-md-7">
                <img id="header" src="@Model.Header" />
            </div>
            <div class="col-md-5">
                @Html.Label(UsersStrings.UploadHeaderLabel)
                <input id="header-input" type="file" accept="image/*" />
            </div>
        </div>

        <div id="avatar-selector">
            <div id="avatar-cropper" class="col-md-7">
                <img id="avatar" src="@Model.Avatar" />
            </div>
            <div class="col-md-5">
                @Html.Label(UsersStrings.UploadAvatarLabel)
                <input id="avatar-input" type="file" accept="image/*" />
            </div>
        </div>

        <div class="clearfix"></div>*@

    @using (@Html.BeginForm("EditProfile", "Manage", new { role = "form" }))
            {
        @Html.AntiForgeryToken()
        @Html.Hidden("Avatar", null, new { @id = "avatar-image" });
        @Html.Hidden("Header", null, new { @id = "header-image" });
        <div class="form-group">
            @Html.Label("ScreenName", UsersStrings.ScreenNameLabel, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ScreenName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Location", UsersStrings.EditLocationLabel, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Homepage", UsersStrings.EditHomepageLabel, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Homepage, new { @class = "form-control" })
        </div>
            <div class="form-group">
                @Html.Label("Bio", UsersStrings.EditBioLabel, new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Bio, new { @class = "form-control" })
            </div>

                <div class="form-group">
                    <button id="edit-profile-button" class="btn btn-primary" type="submit">@UsersStrings.EditSaveButton</button>
                </div>
    }
</div>

@Scripts.Render("~/Scripts/App/cropper.js")
@Scripts.Render("~/Scripts/App/profile.js")
