@using Resources
@model KotaeteMVC.Models.Entities.ApplicationUser

@{
    ViewBag.Title = String.Format(UsersStrings.EditProfilePageTitle, Model.ScreenName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/cropper.min.css")

<div class="container" id="profile-editor">
    <h2>@UsersStrings.EditProfileTitle (@Model.UserName)</h2>

    <div id="enable-js" class="jumbotron">@UsersStrings.EnableJSAvatar</div>

    <div class="col-md-12 hidden" id="profile-image-editor">
        <div class="row">
            <div id="header-cropper" class="col-md-7">
                <img id="header" @if (!string.IsNullOrWhiteSpace(@ViewBag.Header))
                {
                    @:class="image-border" alt = "@Model.ScreenName" src = "@ViewBag.Header" 
                }/>
            </div>
            <div class="col-md-5" id="header-file-chooser">
                @Html.Label(UsersStrings.UploadHeaderLabel)
                <input id="header-input" type="file" accept="image/*" />
            </div>
        </div>

        <div class="row">
            <div id="avatar-cropper" class="col-md-7">
                <img id="avatar" @if (!string.IsNullOrWhiteSpace(@ViewBag.Avatar))
                {
                    @:class="image-border" alt = "@Model.ScreenName" src = "@ViewBag.Avatar" 
                }/>
            </div>
            <div class="col-md-5" id="avatar-file-chooser">
                @Html.Label(UsersStrings.UploadAvatarLabel)
                <input id="avatar-input" type="file" accept="image/*" />
            </div>
        </div>
    </div>

    @using (@Html.BeginForm("EditProfile", "Manage", new { role = "form" }))
            {
        @Html.AntiForgeryToken()
        @Html.Hidden("Avatar", null, new { @id = "avatar-image" });
        @Html.Hidden("Header", null, new { @id = "header-image" });
        <div class="row"></div>
        <div class="form-group">
            @Html.Label("ScreenName", UsersStrings.ScreenNameLabel, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ScreenName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Location", UsersStrings.EditLocationLabel, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Twitter", UsersStrings.EditTwitterLabel, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Twitter, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Homepage", UsersStrings.EditHomepageLabel, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Homepage, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Bio", UsersStrings.EditBioLabel, new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Bio, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Birthday", UsersStrings.EditBirthdayLabel, new { @class = "control-label" })
            @Html.TextBox("Birthday", Model.Birthday.ToString("dd-MM-yyyy"), new { @class = "birthday", type = "date" })
        </div>

        <div class="form-group">
            <button id="edit-profile-button" class="btn btn-primary" type="submit">@UsersStrings.EditSaveButton</button>
        </div>
    }
</div>

@Scripts.Render("~/Scripts/App/cropper.js")
@Scripts.Render("~/Scripts/App/profile.js")
