@using Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@MainGlobal.AppName - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

    @Html.Action("Index", "Navbar", null)

    <div class="container-fuid body-content">
        <div id="alert-container" class="container">
            @{ Html.RenderPartial("_Alert"); }
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Kotaete</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/autosize.js")
    @Scripts.Render("~/Scripts/KotaeteJavascript.js")
    @Scripts.Render("~/Scripts/App/alerts.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dateTimePicker")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/App/questions.js")
    @Html.Hidden("AlertCtrlPath", Url.Action("AlertMessage", "Alerts"))

</body>
</html>