@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="page-body">


    @if (!string.IsNullOrWhiteSpace(ViewBag.HeaderImage))
    {
        <div id="header-banner" style="background-image:url(@ViewBag.HeaderImage)">
            <img src="@ViewBag.HeaderImage" />
        </div>
    }


    <div class="col-md-3 col-sm-12 col-xs-12">
        @RenderSection("Profile")
    </div>

    <div class="col-md-9 col-sm-12 col-xs-12">
        @RenderBody()
    </div>
</div>

@section scripts {
    @RenderSection("scripts", false)    
    @Scripts.Render("~/Scripts/App/users.js")
}