@using Resources;
@model KotaeteMVC.Models.ErrorViewModel

@{
    ViewBag.Title = Model.ErrorTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-container container">
    <div class="jumbotron">
        <h2>@MainGlobal.ErrorHeader: @Model.ErrorTitle</h2>
        <p>@Model.ErrorMessage</p>
        <p>@MainGlobal.ClickToGoBackMessageFirst <a href="javascript:history.back()">@MainGlobal.ClickToGoBackLink</a> @MainGlobal.ClickToGoBackMessageSecond</p>
    </div>
</div>