@using Resources
@model KotaeteMVC.Models.ViewModels.ProfileViewModel

<div class="panel panel-default mini-profile-panel">
    <div class="mini-profile-header" @if (Model.HeaderUrl != null) { @Html.Raw("style=\"background-image: url(" + Url.Content(Model.HeaderUrl) + "\"")   }>
    </div>

    <div class="panel-body>">
        <div class="mini-profile-avatar">
            <a href="@Url.Action("Index", "User", new { @userName = Model.User.UserName })"><img class="mini-avatar" src="@Url.Content(Model.AvatarUrl)" alt="@Model.ScreenName" /></a>
        </div>
        <div class="mini-profile-username">
            <p>@Model.ScreenName</p>
            <span class="text-info mini-profile-follow-info">
                @if (Model.FollowsYou)
                {
                    <small>@UserStrings.FollowsYou</small>
                }
            </span>

        </div>
        <div class="mini-profile-stats-container">
            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                <p class="lead">@Html.RouteLink(Model.QuestionsAsked.ToString(), "QuestionsProfile", new { @userName = Model.User.UserName })</p>
                <p>
                    @if (Model.QuestionsAsked == 1)
                    { @("Question") }
                    else { @("Questions") }
                </p>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                <p class="lead">@Html.RouteLink(Model.QuestionsReplied.ToString(), "AnswersProfile", new { @userName = Model.User.UserName })</p>
                <p>
                    @if (Model.QuestionsReplied == 1)
                    { @("Reply") }
                    else { @("Replies") }
                </p>
            </div>
        </div>
        @if (Model.FollowButton.IsUserAuthenticated && Model.FollowButton.IsOwnProfile == false)
        {
        <div class="mini-profile-button">
            @Html.Partial("FollowButton", Model.FollowButton)
        </div>
        }
    </div>
</div>
