@using Resources
@model KotaeteMVC.Models.ViewModels.ProfileViewModel

<div class="panel panel-default profile-panel">
    <div class="panel-heading" id="profile-header">
        <div class="row">
            <div class="user-name">
                @Model.ScreenName
            </div>
        </div>
    </div>
    <div class="panel-body" id="profile-body">
        <div class="row">
            @if (Model.AvatarUrl != null)
            { <a href="@Url.Action("Index", "User", new {@userName = Model.User.UserName})">
                <img class="avatar" src="@Url.Content(Model.AvatarUrl)" alt="@Model.ScreenName" />
            </a>
            }
        </div>
        <div class="row follow-indication">
            @if (Model.FollowButton.IsUserAuthenticated)
            {
                if (Model.IsOwnProfile)
                {
                    @Html.ActionLink(UsersStrings.EditProfileButton, "EditProfile", "Manage", null, new { @class = "edit-profile-button btn btn-primary btn-large" })
                }
                else if (Model.FollowsYou)
                {
                    <span class="label label-default">@UsersStrings.FollowsYou</span>
                }
                else
                {
                    <span class="label label-warning">@UsersStrings.NotFollowingYou</span>
                }
            }
        </div>


        <div class="profile-body">

            @if (!string.IsNullOrWhiteSpace(Model.Bio))
            {
                <div class="row">
                    <p>@Model.Bio</p>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Location))
            {
                <div class="row">
                    <p>@UsersStrings.LocationLabel: @Model.Location</p>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Homepage))
            {
                <div class="row">
                    <a href="@Model.Homepage" target="_blank">@Model.Homepage</a>
                </div>
            }

            <div class="profile-stats-container">
                <div class="row">
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                        <p class="lead">@Html.RouteLink(Model.FollowingCount.ToString(), "userFollowing", new { userName = Model.User.UserName }, null)</p>
                        <p>@UsersStrings.FollowingLabel</p>
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                        <p class="lead">@Html.RouteLink(Model.FollowerCount.ToString(), "userFollowers", new { userName = Model.User.UserName }, null)</p>
                        @if (Model.FollowerCount == 1)
                        {
                            <p>@UsersStrings.FollowerSingularLabel</p>
                        }
                        else {
                            <p>@UsersStrings.FollowerPluralLabel</p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                        <p class="lead">@Html.RouteLink(Model.QuestionsAsked.ToString(), "QuestionsProfile", new { @userName = Model.User.UserName })</p>
                        @if (Model.QuestionsAsked == 1)
                        {
                            <p>@UsersStrings.QuestionsSingularLabel</p>
                        }
                        else
                        {
                            <p>@UsersStrings.QuestionsPluralLabel</p>
                        }
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                        <p id="reply-stats" class="lead">@Html.RouteLink(Model.QuestionsReplied.ToString(), "AnswersProfile", new { @userName = Model.User.UserName })</p>
                        @if (Model.QuestionsReplied == 1)
                        {
                            <p>@UsersStrings.ReplySingularLabel</p>
                        }
                        else
                        {
                            <p>@UsersStrings.ReplyPluralLabel</p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                        <p class="lead">@Html.RouteLink(Model.AnswerLikesCount.ToString(), "AnswersLiked", new { @userName = Model.User.UserName })</p>
                        @if (Model.AnswerLikesCount == 1)
                        {
                            <p>@UsersStrings.LikesSingularLabel</p>
                        }
                        else
                        {
                            <p>@UsersStrings.LikesPluralLabel</p>
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (Model.FollowButton.IsUserAuthenticated && Model.FollowButton.IsOwnProfile == false)
        {
            @Html.Partial("FollowButton", Model.FollowButton)
        }
    </div>
</div>