@model KotaeteMVC.Models.ProfileViewModel

<div class="panel panel-default profile-panel">
    <div class="panel-heading" id="profile-header">
        <div class="row">
            <div class="user-name">
                @Model.ScreenName
            </div>
        </div>
    </div>
    <div class="panel-body" id="profile-body">
        <div class="row">
            @if (Model.AvatarUrl != null)
            {
                <img class="avatar" src="@Url.Content(Model.AvatarUrl)" alt="@Model.ScreenName" />
            }
        </div>
        <div class="row follow-indication">
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                if (Model.IsOwnProfile)
                {
                    <span class="label label-default">That's you</span>
                }
                else if (Model.FollowsYou)
                {
                    <span class="label label-default">Follows you</span>
                }
                else
                {
                    <span class="label label-warning">The bastard isn't following you</span>
                }
            }
        </div>


        <div class="profile-body">

            @if (!string.IsNullOrWhiteSpace(Model.Bio))
            {
                <div class="row">
                    <p>@Model.Bio</p>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Location))
            {
                <div class="row">
                    <p>Location: @Model.Location</p>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Homepage))
            {
                <div class="row">
                    <a href="@Model.Homepage" target="_blank">@Model.Homepage</a>
                </div>
            }

            <div class="profile-stats-container">
                <div class="row">
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                        <p class="lead">@Html.RouteLink(Model.FollowingCount.ToString(), "userFollowing", new { userName = Model.User.UserName }, null)</p>
                        <p>
                            Following
                        </p>
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                        <p class="lead">@Html.RouteLink(Model.FollowerCount.ToString(), "userFollowers", new { userName = Model.User.UserName }, null)</p>
                        <p>
                            @if (Model.FollowerCount == 1)
                            { @("Follower") }
                            else { @("Followers") }
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                        <p class="lead">@Model.QuestionsAsked</p>
                        <p>
                            @if (Model.QuestionsAsked == 1)
                            { @("Question") }
                            else { @("Questions") }
                        </p>
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                        <p class="lead">@Html.RouteLink(Model.QuestionsReplied.ToString(), "AnswersProfile", new { @userName = Model.User.UserName })</p>
                        <p>
                            @if (Model.QuestionsReplied == 1)
                            { @("Reply") }
                            else { @("Replies") }
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @{ Html.RenderPartial("FollowButton", Model); }
    </div>
</div>

