@model KotaeteMVC.Models.ViewModels.QuestionDetailViewModel
@using Resources;
<div id="question-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@QuestionStrings.AllFollowersModalHeader</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Questions", FormMethod.Post, new { @class = "panel-body" }))
            {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div>
                            @Html.TextAreaFor(model => model.QuestionContent, 5, 50, new { @class = "ask-question-box", @placeholder = "Your question for " + Model.AskedToScreenName + " here" })
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.AskedToUserName)
                    @Html.HiddenFor(model => model.AskToAllFollowers)
                    <div class="form-group pull-left">
                        <div>
                            <input type="submit" value="Ask" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
