@model KotaeteMVC.Models.ViewModels.QuestionDetailViewModel
@using Resources;

<div id="question-modal" class="@if(ViewBag.AjaxEnabled) {@("modal fade")}" role="dialog">
<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@QuestionStrings.AllFollowersModalHeader</h4>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginRouteForm("CreateAskFollowers", null, new AjaxOptions
                {
                    OnSuccess = "OnAskingSuccess('askingSuccess')",
                    OnFailure = "OnAskingFailure('askingFailure')",
                    HttpMethod = "POST",
                }))
                {

                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div>
                            @Html.TextAreaFor(model => model.QuestionContent, 5, 50, new { @class = "ask-question-box", @placeholder = MainGlobal.YourQuestion })
                        </div>
                        @Html.ValidationMessageFor(model => model.QuestionContent, null, new { @class = "text-danger" })
                    </div>
                    @Html.HiddenFor(model => model.AskedToUserName)
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Ask" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
