@using Resources
@model KotaeteMVC.Models.ViewModels.QuestionDetailViewModel

<div id="ask-question" class="panel panel-default">
    <div class="panel-heading">
        @QuestionStrings.AskHeader
    </div>
    @using (Ajax.BeginForm("Create", "Questions", null, new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "AskedSuccess('" + Model.AskedToScreenName + "')",
        OnFailure = "AskedFailure"
    }, new { @class = "panel-body" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div>
                @Html.TextAreaFor(model => model.QuestionContent, 5, 50, new { @id = "ask-question-textarea", @class = "ask-question-box", @placeholder = string.Format(QuestionStrings.QuestionPlaceheader, Model.AskedToScreenName) })
            </div>
            @Html.ValidationMessageFor(model => model.QuestionContent, "", new { @class = "text-danger" })
        </div>
        @Html.HiddenFor(model => model.AskedToUserName)
        <div class="form-group pull-left">
            <div>
                <input type="submit" value="@QuestionStrings.Ask" class="btn btn-default" />
            </div>
        </div>
    }
</div>