@using Resources;
@model KotaeteMVC.Models.ViewModels.NavbarViewModel

@if (Model.IsAuthenticated)
{<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kotaete", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-item" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="navbar-item">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>
                        <a href="@Url.Action("Index", "Inbox", null)">
                            Inbox <span id="inbox-count" class="badge">@if (Model.InboxCount > 0){ @Model.InboxCount }</span> 
                        </a>
                    </li>
                    <li>
                        @Ajax.ActionLink(@NavbarStrings.AskItem, "AskFollowers", "Questions", null, new AjaxOptions
                   {
                       HttpMethod = "GET",
                       OnComplete = "ShowAskFollowersModal"
                   })
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

}
else {

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kotaete", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
}