@using Resources
@model KotaeteMVC.Models.ViewModels.CommentViewModel

@{ var id = "post-comment-"  + Model.AnswerId;}

<div id="@id">
    @using (Ajax.BeginForm("CreateComment", "Answers", null, new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = string.Format("OnCommentSuccess(data, '#{0}', '#{1}', '{2}')", "comments-" + Model.AnswerId, id, Model.AnswerId),
        OnFailure = "OnCommentFailure"
    }, new { @id= "comment_" + Model.AnswerId, @class = "panel-body" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div>
                @Html.TextAreaFor(model => model.Content, 3, 50, new { @class = "ask-question-box", @placeholder = AnswerStrings.CommentPlaceholder })
            </div>
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
        @Html.HiddenFor(model => model.AnswerId)
        <div class="form-group pull-left">
            <div>
                <input type="submit" value="@AnswerStrings.CommentButton" class="btn btn-default" />
            </div>
        </div>
    }
</div>