@model KotaeteMVC.Models.ViewModels.AnswerListProfileViewModel

@{
    Layout = "~/Views/Shared/_ProfileContentLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div id="answers-list">
    @Html.Partial("~/Views/Answers/AnswerList.cshtml", Model.AnswerList)
</div>

@section Profile {
    @Html.Partial("Profile", Model.Profile)
}


@section scripts {
    @Scripts.Render("~/Scripts/App/paginator.js")
    @Scripts.Render("~/Scripts/App/answers.js")
}