@model KotaeteMVC.Models.ViewModels.AnswerListProfileViewModel

@{
    Layout = "~/Views/Shared/_ProfileContentLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (Model.AnswerList.Answers.Any() == false)
{
    Html.RenderPartial("NoAnswers");
}
else
{
    <img id="pagination-ajax-loader"
         src="@Url.Content("~/Images/ajax-loader.gif")"
         style="display:none" />    
    <div id="answers-list">
        @Html.Partial("AnswerList", Model.AnswerList)
    </div>
}

@section Profile {
    @Html.Partial("Profile", Model.Profile)
}


@section scripts {
    @Scripts.Render("~/Scripts/App/paginator.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}