@using Resources
@using KotaeteMVC.Helpers
@model KotaeteMVC.Models.ViewModels.NotificationModels.AnswerLikeNotificationViewModel

<div class="notification notification-link" data-notification-link="@Url.RouteUrl("Answer", new { @answerId = Model.AnswerId })">
    <img class="notification-avatar" src="@Model.LikingUser.AvatarUrl" alt="@Model.LikingUser.ScreenName" />
    @Html.RouteLink(Model.LikingUser.ScreenName, "userProfile", new { @userName = Model.LikingUser.User.UserName }) @string.Format(NotificationStrings.AnswerLikeNotificationBody, @TimeHelper.GetTimeAgo(Model.TimeStamp))
</div>