@using Resources
@using KotaeteMVC.Models.ViewModels.NotificationModels
@using KotaeteMVC.Helpers
@model AnsweredNotificationViewModel

@if (Model.AnswerNotificationType == AnsweredNotificationViewModel.AnswerNotificationTypeEnum.CurrentUserAnswer)
{
    <div class="notification notification-link answer-notification user-answer-notification" data-notification-link="@Url.RouteUrl("Answer", new { @answerId = Model.AnswerId })">
        <img class="notification-avatar" src="@Model.AnsweringUser.AvatarUrl" alt="@Model.AnsweringUser.ScreenName" />
        @string.Format(NotificationStrings.AnswerNotificationBody, Model.AnsweringUser.ScreenName, @TimeHelper.GetTimeAgo(Model.TimeStamp))
    </div>
}
else if (Model.AnswerNotificationType == AnsweredNotificationViewModel.AnswerNotificationTypeEnum.FollowingAnswer)
{
    <div class="notification notification-link answer-notification following-answer-notification" data-notification-link="@Url.RouteUrl("Answer", new { @answerId = Model.AnswerId })">
        <img class="notification-avatar" src="@Model.AnsweringUser.AvatarUrl" alt="@Model.AnsweringUser.ScreenName" />
        @string.Format(NotificationStrings.FriendAnswerNotificationBody, Model.AnsweringUser.User.ScreenName, Model.AskingUser.ScreenName, @TimeHelper.GetTimeAgo(Model.TimeStamp))
    </div>
}