@using Resources
@using KotaeteMVC.Models.ViewModels.NotificationModels
@using KotaeteMVC.Helpers
@model AnsweredNotificationViewModel

@if (Model.AnswerNotificationType == AnsweredNotificationViewModel.AnswerNotificationTypeEnum.CurrentUserAnswer)
{
    <div class="notification notification-link answer-notification user-answer-notification" data-notification-link="@Url.RouteUrl("Answer", new { @answerId = Model.AnswerId })">
        @Html.Partial("NotificationAvatar", Model.AnsweringUser)
        <p>@Html.Partial("TimeAgoSpan", Model.TimeStamp, new ViewDataDictionary { { "ToUpperFirst", true } })</p>
        <p>@string.Format(NotificationStrings.AnswerNotificationBody, Model.AnsweringUser.ScreenName)</p>
    </div>
}
else if (Model.AnswerNotificationType == AnsweredNotificationViewModel.AnswerNotificationTypeEnum.FollowingAnswer)
{
    <div class="notification notification-link answer-notification following-answer-notification" data-notification-link="@Url.RouteUrl("Answer", new { @answerId = Model.AnswerId })">
        @Html.Partial("NotificationAvatar", Model.AnsweringUser)
        <p>@Html.Partial("TimeAgoSpan", Model.TimeStamp, new ViewDataDictionary { { "ToUpperFirst", true } })</p>
        @string.Format(NotificationStrings.FriendAnswerNotificationBody, Model.AnsweringUser.User.ScreenName, Model.AskingUser.ScreenName)
    </div>
}