@using Resources
@model KotaeteMVC.Models.ViewModels.NotificationModels.AnswerLikeNotificationViewModel

<div class="notification answer-like-notification notification-link" data-notification-link="@Url.RouteUrl("Answer", new { @answerId = Model.AnswerId })">
    @Html.Partial("NotificationAvatar", Model.LikingUser)
    <p>@Html.Partial("TimeAgoSpan", Model.TimeStamp, new ViewDataDictionary { { "ToUpperFirst", true } })</p>
    <p>@string.Format(@NotificationStrings.AnswerLikeNotificationBody, Model.LikingUser.ScreenName)</p>
</div>