@using KotaeteMVC.Helpers
@using Resources
@using KotaeteMVC.Models.ViewModels.NotificationModels
@model CommentNotificationViewModel

<div class="notification comment-notification notification-link" data-notification-link="@Url.RouteUrl("Answer", new { @answerId = Model.AnswerId })">
    @Html.Partial("NotificationAvatar", Model.CommentingUser)
    <p>@Html.Partial("TimeAgoSpan", Model.TimeStamp, new ViewDataDictionary { { "ToUpperFirst", true } })</p>
    <p>
    @if (Model.CommentNotificationType == CommentNotificationViewModel.CommentNotificationTypeEnum.CurrentUserAnswer)
    {
        <span>@string.Format(NotificationStrings.CommentUserAnswerNotificationBody, Model.CommentingUser.ScreenName)</span>
    }
    else if (Model.CommentNotificationType == CommentNotificationViewModel.CommentNotificationTypeEnum.CurrentUserAskedQuestion)
    {
        <span>@string.Format(NotificationStrings.CommentQuestionUserNotificationBody, Model.CommentingUser.ScreenName)</span>
    }
    else if (Model.CommentNotificationType == CommentNotificationViewModel.CommentNotificationTypeEnum.CurrentUserCommentedAnswer)
    {
        <span>@string.Format(NotificationStrings.CommentUserAlsoCommentedNotificationBody, Model.CommentingUser.ScreenName)</span>
    }
    </p>
</div>