@using KotaeteMVC.Helpers
@using Resources
@model KotaeteMVC.Models.ViewModels.NotificationModels.QuestionAskedNotificationViewModel

<div class="notification notification-link @if (Model.Seen) { @("seen") } question-notification" data-notification-link="@Url.RouteUrl("Inbox")">
    @Html.Partial("NotificationAvatar", Model.AskingUser)
    <p>@Html.Partial("TimeAgoSpan", Model.TimeStamp, new ViewDataDictionary { { "ToUpperFirst", true } })</p>
    <p>@string.Format(NotificationStrings.QuestionNotificationBody, Model.AskingUser.ScreenName)</p>
</div>