@using Resources
@model KotaeteMVC.Models.ViewModels.NotificationModels.FollowedNotificationViewModel

@if (Model.FollowType == KotaeteMVC.Models.ViewModels.NotificationModels.FollowedNotificationViewModel.FollowTypeEnum.CurrentUserFollowed)
{
<div class="notification relationship-notification notification-link" data-notification-link="@Url.RouteUrl("userProfile", new { @userName = Model.FollowedBy.User.UserName })">
    @Html.Partial("NotificationAvatar", Model.FollowedBy)
    <p>@Html.Partial("TimeAgoSpan", Model.TimeStamp, new ViewDataDictionary { { "ToUpperFirst", true } })</p>
    <p>@string.Format(NotificationStrings.BeingFollowedLabel, Model.FollowedBy.ScreenName)</p>
</div>
}
else if (Model.FollowType == KotaeteMVC.Models.ViewModels.NotificationModels.FollowedNotificationViewModel.FollowTypeEnum.CurrentUserFollowing)
{
    <div class="notification relationship-notification notification-link" data-notification-link="@Url.RouteUrl("userProfile", new { @userName = Model.UserFollowed.User.UserName })">
        @Html.Partial("NotificationAvatar", Model.UserFollowed)
        <p>@Html.Partial("TimeAgoSpan", Model.TimeStamp, new ViewDataDictionary { { "ToUpperFirst", true } })</p>
        <p>@string.Format(NotificationStrings.FollowedByLabel, Model.UserFollowed.ScreenName)</p>
    </div>
}
else if (Model.FollowType == KotaeteMVC.Models.ViewModels.NotificationModels.FollowedNotificationViewModel.FollowTypeEnum.FriendRelationship)
{
    <div class="notification following-relationship-notification relationship-notification notification-link" data-notification-link="@Url.RouteUrl("userProfile", new { @userName = Model.UserFollowed.User.UserName })">
        @Html.Partial("NotificationAvatar", Model.UserFollowed)
        <p>@Html.Partial("TimeAgoSpan", Model.TimeStamp, new ViewDataDictionary { { "ToUpperFirst", true } })</p>
        <p>@string.Format(NotificationStrings.FriendRelationshipBody, Model.FollowedBy.ScreenName, Model.UserFollowed.ScreenName)</p>
    </div>
}